body {
    background: #fefefe;
}

.heading{
    margin-bottom: 48px;
    font-size: 30px;
}

.main{
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
}

.mainHeader {
    color: #19535F;
    font-size: 30px;
}

.sectionHeader {
    color: #1460AA;
    
}

p {
    color: green;
}





.thirdHeader{
    color: #D72483;
}


   
}

.box{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid red;
    margin: 10px;
    background: yellowgreen;
    position: sticky;
    top: 0;

}

.top{
    position: fixed;
    bottom: 10px;
    right: 15px;
}

.navigation{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 16px;
    background: white;
}


.about{

}

.about__header{
    color: #1460aa;
}

.about__link{
    color: #484538;
}

.about__paragraph{
    padding: 16px;
}

.about__paragraph--mini{
    color: #88292F;
}

.about__picture{
    width: 100%;
    max-width: 100px;
    display: block;
    float: left;
    margin: 0 16px 16px 0;
}