body {
    background: #fefefe;
}

.mainHeader {
    color: #19535F;
    font-size: 30px;
}

.sectionHeader {
    color: #1460AA;
    
}

p {
    color: green;
}



.link{
    color: #484538;
}

.thirdHeader{
    color: #D72483;
}

.about{
    width: 700px;
   
}

.box{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 10px solid red;
    margin: 10px;
    background: yellowgreen;

}